body{
    background-color: #075d4d;
}

.title{
    font-family: Arial;
    font-size: 60;
    font-weight:900;
    text-align: center;
    margin-top: 100;
    color: #ffffff;
}

.normal-style{
    font-family: Arial;
    font-size: 35;
    color: #1c1c1c;
    font-weight: 600;
}

.left-text{
    margin-left: 330;
    margin-top: 325;
}

.right-text{
    margin-left: 1285;
    margin-top: -75;
}

.img-left{
    margin-top: -250;
    margin-left: 387;
    width: 8%
}

.img-right{
    margin-top: -250;
    margin-left: 1350;
    width: 8%
}
button{
    border: 5px solid #3c3a3a;
    background: #10ea0c;
    padding: 0.5em 1.5em; 
    align-content: center;
}

button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}

.button-left{
    margin-left: 630;
    margin-top: 75;
}

.button-right{
    margin-left: 60;
    background: rgb(67, 67, 233);
    padding: 0.5em 2.1em;
}

.buttonHome{
    background: #5b5b5b;
    margin-top: 75;
    margin-left: 75;
    padding: .4em 1.2em;
}

.button2{
    background: #83e002;
    margin-top: 10;
    padding: .5em 1.4em;
}

.button3{
    background-color: #b7bd02;
    margin-top: 10;
    padding: .5em 1.4em;
}

.button4{
    background-color: #bd9402;
    margin-top: 10;
    padding: .5em 1.25em;
}

.button5{
    background-color: #bd7202;
    margin-top: 10;
    padding: .5em 1.35em;
}

.button6{
    background-color: #bd4302;
    margin-top: 10;
    padding: .5em 2.55em;
}

.button7{
    background-color: #bd1502;
    margin-top: 10;
    padding: .5em 0.555em;
}

.button-st-program{
    margin-left: 1097;
    margin-top: -655
}
